@using aspnet_hotwire.Data

<div>
  <h2>Notes</h2>
  <a asp-action="New" data-turbo-frame="note_0">New Note</a>
  <turbo-frame id="note_0">
  </turbo-frame>
  <turbo-frame id="notes">
    @foreach(var note in Notes.Instance) {
      <partial name="Show" model="@note"></partial>
    }
  </turbo-frame>
</div>
